Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
LineEnding: LF
InsertNewlineAtEOF: true
ColumnLimit: 100

BreakBeforeBraces: Attach

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: Align
AlignTrailingComments:
  Kind: Never

BinPackArguments: false
BinPackParameters: OnePerLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
PenaltyReturnTypeOnItsOwnLine: 1000000

# Keep foreach-style macros parsed as loop constructs.
ForEachMacros:
  - 'vs_binary_heap_for_each'
  - 'vs_deque_for_each'
  - 'vs_doubly_linked_list_for_each_entry'
  - 'vs_doubly_linked_list_for_each_node'
  - 'vs_hashmap_for_each_entry'
  - 'vs_hashmap_for_each_key'
  - 'vs_hashmap_for_each_value'
  - 'vs_hashset_for_each'
  - 'vs_iterator_for_each'
  - 'vs_linked_list_for_each_entry'
  - 'vs_linked_list_for_each_node'
  - 'vs_string_for_each_char'
  - 'vs_vector_for_each'

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

DerivePointerAlignment: false
PointerAlignment: Right
SpaceAroundPointerQualifiers: Default
SpaceAfterCStyleCast: false

SpaceBeforeParens: ControlStatementsExceptForEachMacros

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<'
    Priority: 1
  - Regex: '^"'
    Priority: 2
IncludeIsMainRegex: '$^'
SortIncludes:
  Enabled: true
  IgnoreCase: false

IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: true
IndentPPDirectives: None
MaxEmptyLinesToKeep: 1
